<center>
<img src="https://support.skillsnetwork.site/logo/logo/design_setting/555346/original/IBM_Skills_Network_Logo_-_Horizontal-350x100.png" width="300">
    </center>

# Lab 1: Basics of Jupyter Notebook 
Objective:
+ Create different markdown cells

#### Exercise 1: Write and execute code
1. In your new empty notebook, click within the gray code cell and write some code, like 1 + 1.

2. Execute the code, by either clicking the Play button in the menu above the notebook, or by pressing Shift+Enter on your notebook.

3. You should see in the output, 2.

4. Try executing other code (try simple math operations).

In [1]:
# Simple Math Operations 
1+1

2

In [2]:
2+2

4

In [3]:
4**3

64

In [ ]:
4%5

4

#### Exercise 2: Keyboard shortcuts
1. Inserting Cells - [a] & [b]
2. Creating markdown - double click on cell & [m]

#### Exercise 3: Markdown in Juptyer notebook
Common Markups:
1. Creating tables
2. Inserting HTML links

**Creating a table in markdown**

|header|header|header|
|------|------|------|
| 1 | 2 | 3|

# Additional Resources 
+ [Interesting Notebooks](https://github.com/jupyter/jupyter/wiki)
+ [Viewing Jupyter Files](https://nbviewer.org/)

# Key Notebooks / Articles
+ [Exploratory Data Analysis in Python](https://nbviewer.org/github/Tanu-N-Prabhu/Python/blob/master/Exploratory_data_Analysis.ipynb)
+ [Data Cleaning Using Python with Pandas Library](https://towardsdatascience.com/data-cleaning-with-python-using-pandas-library-c6f4a68ea8eb)
+ [Clustering](https://nbviewer.org/github/temporaer/tutorial_ml_gkbionics/blob/master/2%20-%20KMeans.ipynb)
+ [Complete Analysis](https://www.kaggle.com/code/lalitharajesh/iris-dataset-exploratory-data-analysis/notebook)